@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@media (min-width: 640px) {
  h1 .fownbuk {
    font-size: 60px;
    background-color: grey;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
  }
}
